doctype html
html(lang=lang)
  head
    title= title
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="icon", href="/favicon.png")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= h1
    footer
      a(href="https://github.com/webenot/welex-framework") Welex Framework Git Repository &copy; #{year}
    script(src="/js/index.js", defer)
