doctype html
html(lang=lang)
  head
    title= title
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="icon", href="/m-icon.png")
    link(rel="stylesheet", href="/css/style.css")
  body
    #memory
    .fontPreload .
    script(src="/js/index.js", defer)
